body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  input[type="text"] {
    padding: 5px;
    font-size: 16px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[id="lock"] {
    background-color: #ba2af8;
}

  button[id="lock"]:hover {
    background-color:#8920b6;
  }
  
  button[id="unlock"] {
    background-color: #ec44d3;
  }
  
  button[id="unlock"]:hover {
    background-color:#c348b1;
  }
  