body {
  font-family: monospace;
  font-size: large;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #dcd2d2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form1 {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background-color: rgb(139, 15, 202);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color:rgb(104, 20, 146);
}
